body {
    font-family: 'Crimson Pro', serif;
    line-height: 1.5em;
    color: #3d3d3d;
    background-color: #6f7e9d;
}

h1, h2, nav ul li a, footer, .cta {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 200px;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #14213D;
    color: #E5E5E5;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 60px 0;
}
 nav {
    width: 960px;
    margin: auto auto 0 auto;
 }

 nav ul {
    display: flex;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

 nav ul li {
    flex:1;
 }

 nav ul li a {
    display: block;
    background-color: #847979;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 15px 0;
    color: #14213D;
 }

 nav ul li a:hover {
    background-color: #EFBDEB;
 }

 main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 20px;
    max-width: 960px;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: #E5E5E5;
 }

 main article {
    flex:1;
 }

 main div {
   display: flex;
   min-height: 60px;
 }

 .cta {
   display: block;
   margin: auto;
   background-color: #FCA311;
   text-decoration: none;
   padding: .5em;
   border-radius: 5px;
   border: 2px solid #fc8611;
   text-align: center;
   color:#14213D;
   font-size: 20px;
   text-transform: uppercase;
 }

 /* Add a rule to start the animation on hover */
 .cta:hover{
   animation: shake 1s;
 }

 /* Add an @keyframes rule */
 @keyframes shake {
   0% { 
      transform: rotate(8deg);
   }
   15% { 
      transform: rotate(-8deg);
   }
   20% { 
      transform: rotate(8deg);
   }
   25% { 
      transform: rotate(-8deg);
   }
   30% { 
      transform: rotate(8deg);
   }
   35% { 
      transform: rotate(-8deg);
   }
   40% { 
      transform: rotate(8deg);
   }

 }

 footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
 }