body {
    font-family: Arial;
    color: #333;
    line-height: 1.4em;
    margin: 150px 0 0 0;
}

main {
    width: 1000px;
    margin: auto;
    background-color: #efefef;
    padding: 20px;
}

h1 {
    background-color: palegoldenrod;
    padding: 50px 30px;
    text-align: center; 
    margin: 0;
    position:absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    opacity: 0.8;
}

article {
    width: 700px;
    margin: 0 auto 50px auto;
    padding-top: 50px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(239, 245, 255);
    font-size: 1em;
    padding: 0 3px;
}

/***** Example 1 rules: *****/
#outerbox1 {
    width: 700px;
    margin: auto;
    height: 350px;
    background-color: yellow;
    position: relative;
}

#innerbox1 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    top:-200px;
    left:300px;
}

/***** Example 2 rules: *****/
#outerbox2 {
    width: 700px;
    margin: auto;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    background-color:lightsteelblue;
    position: relative;
}

#innerbox2 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    top: -200px;
}

/***** Example 3 rules: *****/
#outerbox3 {
    width: 700px;
    margin: auto;
    height: 350px;
    background-color:khaki;
    position: relative;
    overflow: hidden;
}

#innerbox3 {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***** Example 4 rules: *****/
#outerbox4 {
    width: 700px;
    margin: auto;
    height: 350px;
    background-color:seashell;
    position: relative;
}

#innerbox4a {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    top:100px;
    left: 300px;
    z-index: 1;
}

#innerbox4b {
    width: 100px;
    height: 100px;
    background-color:skyblue;
    position: absolute;
    top:130px;
    left: 260px;
    z-index: 2;
}

#innerbox4c {
    width: 100px;
    height: 100px;
    background-color:olive;
    position: absolute;
    top:150px;
    left: 330px;
    z-index: -1;
}