body {
    font-family: 'Crimson Pro', serif;
    line-height: 1.5em;
    color: #3d3d3d;
    background-color: #6f7e9d;
}

h1, h2, nav ul li a, footer {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 200px;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #14213D;
    color: #E5E5E5;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 60px 0;
}
 nav {
    width: 960px;
    margin: auto auto 0 auto;
 }

 nav ul {
    display: flex;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

 nav ul li {
    flex:1;
 }

 nav ul li a {
    display: block;
    background-color: #847979;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 15px 0;
    color: #14213D;
 }

 nav ul li a:hover {
    background-color: #EFBDEB;
 }

 main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 20px;
    max-width: 960px;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: #E5E5E5;
 }

 main article {
    flex:1;
 }

.card {
   aspect-ratio: 2 / 3;
   position: relative;
   /* Set the perspective here */
   perspective: 1000px;
}

/*Add a rule: When you hover over the card, you want the 
BACK to rotate on the Y axis to 180 degrees */
.card:hover .back{
   transform: rotateY(180deg);
}

/*Add a rule: When you hover over the card, you want the 
FRONT to rotate on the Y axis to 0 degrees */
.card:hover .front{
   transform: rotateY(0deg);
}


.back, .front {
   /* What does backface-visibility do? 
   Once you have this working try taking
   that out to see what happens. */
	backface-visibility: hidden;
   border-radius: 10px;
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   /* set the transition to 1 second */
   transition: transform 1s;
}

.back { 
   border: 2px solid #EFBDEB; 
   background-image: url(images/llamas.jpg);
   aspect-ratio: 2 / 3;
   /* When the page loads, make sure the back is rotated
   to 0 degrees on the Y axis */ 
   transform: rotateY(0deg);
}

.front {
	/* When the page loads, make sure the front is rotated
   to -180 degrees on the Y axis */ 	
   transform: rotateY(-180deg);
}

.front img {
   border: 2px solid #EFBDEB;
   width: 100%;
   height: auto;
   display: block;
   border-radius: 10px;
}

 footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
 }