body {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #333;
	line-height: 1.5em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, strong {
	font-weight: 500;
}

li {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	font-weight: 500;
	color:#1F5197;
}

code {
	font-family: 'IBM Plex Mono', monospace;
	color: #000000;
	background: #EDF8FF;
	padding: 5px;
}

header {
	text-align: center;
}

section {
	max-width: 650px;
	margin: auto;
}

.layout {
	display: flex;
	justify-content: space-around;
}
#bgimg {
	width: 202px;
	height: 202px;
	background: url("images/cat-square.jpg") no-repeat;
}

#full-width {
	width: 100%;
	height: 200px;
	background-image: url("images/bodie-panorama.jpg");
	background-size: cover;
	background-position: center center;
}

#css-hover-example {
	width:200px;
	height: 200px;
	background: url("images/orange-tree1.jpg") no-repeat;
}

#css-hover-example:hover {
	background: url("images/orange-tree2.jpg") no-repeat;
}

.inline-example {
	width: 200px;
}

.inline-example p {
	background-color: #492E17;
	color: #fff;
	padding: 20px;
	margin: 0;
}

.block { display: block; }

#no-overflow, #overflow, #contained {
	width: 350px;
	padding: 10px;
	background-color: #E200FF;
	margin-bottom: 20px;
}

#overflow {
	overflow: hidden;
}

#contained img {
	display: block;
	max-width: 100%;
}

.grow {
	width:200px;
	height: 200px;
}

.grow img {
	max-width: 100%;
	transition: all 1s ease;
}

.grow img:hover {
	transform: scale(2);
	box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.75);
}

#greyscale {
	filter: grayscale(100%);
}

#blur {
	filter: blur(5px);
}
